* {
    box-sizing: border-box;
}

body {
    background-color: #2056ac;
    font-family: "Questrial";
}

h1 {
    margin: 0.3em 0;
    font-size: 3em;
    font-weight: bold;
}
main section article {
    padding: 1em;
}
h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #404040;
}
article span {
    font-weight: bold;
}
article p a:first-of-type {
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
    font-weight: bold;
    color: #404040;
    margin: 0.5em 0;
}

h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #6e6e6e;
}

header {
    display: flex;
    padding: 1.3em;
    flex-direction: column;
    align-items: center;
    color: white;
}

nav {
    width: 100%;
    text-align: center;
}

nav li:not(:first-child) {
    display:none;
}

#menu:hover li:not(:first-child) {
    display: list-item;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

header a {
    display: block;
    padding: 0.5em;
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header a:hover,
.selected {
    background-color: white;
    color: #2056ac;
    border-radius: 0.5em;
}

main {
    background-color: #fff;
}

main section > img {
    width: 90%;
    max-width: 1200px;
    margin-top: 1em;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #7f7f7f;
}

div.contact {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section:not(:last-child) {
    max-width: 1200px;
}
p {
    color: #7f7f7f;
}
button {
    background-color: #64abd1;
    color: white;
    padding: 0.5em;
    border: none;
    margin: 1.5em 0 0.5em 0;
    cursor: pointer;
}
section:nth-last-child(2) {
    border: none;
}
section:nth-last-child(1) {
    background-color: #e3f0f7;
    border: none;
}
article ul li {
    color: #7f7f7f;
}
article i.fa-6x {
    color: #5B6063;
    margin-bottom: 0.7em;
    font-size: 2em;
}
footer {
    padding: 1em;
    border-top: 13px solid #3162b1;
}
footer p {
    margin: 1em;
    color: #cedaec;
    text-align: center;
    line-height: 1.3em;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer ul li a{
    color: white;
    background-color: #4c93b9;
    width: 1.6em;
    padding: 0.3em;
    margin: 0.2em;
    display: block;
    text-align: center;
}
footer a:last-child {
    text-transform: uppercase;
}
footer a {
    text-decoration: none;
    color: white;
}

@media (min-width: 700px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li:not(:first-child){
        display: list-item;
    }

    header {
        padding-bottom: 0;
    }
    header a {
        padding: 1em;
    }
    header a:hover,
    .selected {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    main section:not(:first-child) {
        flex-direction: row;
        align-items: flex-start;
    }

    section:nth-last-child(2) {
        flex-wrap: wrap;
    }

    section:nth-last-child(2) article {
        width: 50%;
    }

    main section {
        justify-content: center;
    }

    main section:not(:last-child){
        margin: auto;
        width: 90%;
    }

    main section > img {
        margin-top: 2em;
    }

    main section article {
        padding: 2em;
    }
}

@media (min-width: 1000px) {
    header {
        padding-top: 8em;
    }

    h1 {
        margin-bottom: 2em;
        font-size: 56px;
    }

    h2 {
        margin: 1.2em 0;
        font-size: 45px;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 2em;
    }

    h4 {
        font-size: 16px;
        margin-bottom: 1.2em;
    }

    p {
        font-size: 16px;
        line-height: 2em;
    }

    nav li {
        margin: 0 0.5em;
    }

    main section > img {
        width: 100%;
    }

    section:nth-last-child(2) article {
        width: 25%;
    }

    section {
        padding: 5em 0;
    }
    button {
        background-color: #64abd1;
        color: white;
        padding: 1em 2em;
        border: none;
        margin: 3em 0 0.5em 0;
        font-size: 16px;
    }
    article i.fa-6x {
        font-size: 4em;
    }
    section:last-child {
        justify-content: space-around;
    }
    footer {
        border-top: 18px solid #3162b1;

    }
    footer i.fa-6x {
        font-size: 1.5em;
        text-align: center;
    }
    footer ul {
        padding: 0;
    }
    footer ul li a {
        width: 2.6em;
        padding: 0.6em 0;
    }
}
